<div class="container">
  <mat-toolbar class="navcolor">
    <span class="navbar-brand mb-0 h1">Soft Skills</span>
    <div class="spacer"></div>
    <button *ngIf="isAdmin" mat-button style="color:white" (click)="openCrearSkills()">
      <mat-icon>add_circle</mat-icon>
    </button>
   
  </mat-toolbar>
   
  <div class="spinner-list"> 
  <div *ngFor="let skill of listskills">
    <div *ngIf="(skill.tipo==='Blandas')">
      
        
        
  
   
      <mat-card class="card">
        <mat-card-title class="blue-text">{{skill.nombre_habilidad}}</mat-card-title>
        <div >
          <mat-card-content class="wrapper">
            <mat-progress-spinner class="inner"
              class="custom-spinner login"
              strokeWidth="12"
              mode="determinate"
              
              
              value="{{ skill.valor }}"
            > 
            </mat-progress-spinner>
             <a class="superpos">{{skill.valor}} %</a>
          </mat-card-content>
          </div>
    <div ></div>
    
   
      <div >
      <button *ngIf="isAdmin" mat-button (click)="detalleSkills(skill.id)" mat-button>Editar</button>
      <button *ngIf="isAdmin" mat-button (click)="borrarSkill(skill.id)">Eliminar</button>
   </div> 
     <mat-card-footer>
      <mat-progress-bar mode="determinate"  value="{{ skill.valor }}" ></mat-progress-bar>
    </mat-card-footer>
    
    
      </mat-card>
    </div>
        <!-- <mat-progress-spinner
          class="custom-spinner login"
          strokeWidth="13"
          mode="determinate"
          
          
          value="{{ skill.valor }}"
        > 
        </mat-progress-spinner> -->
        
   
      
    
   
    
 
  
   
 
  </div>
</div>


  


<div class="container">
  <mat-toolbar class="navcolor">
    
    <span class="navbar-brand mb-2 h1">Hard Skills</span>
    <div class="spacer"></div>
    <button *ngIf="isAdmin" mat-button style="color: white" (click)="openCrearSkills()">
      <mat-icon>add_circle</mat-icon>
    </button>
   
  </mat-toolbar>
   <div class="spinner-list">
    
  <div *ngFor="let skill of listskills">
    <div *ngIf="(skill.tipo==='Duras')">
      
        
        
  <mat-card class="card">
    <mat-card-subtitle ></mat-card-subtitle>
    <mat-card-title class="blue-text">{{skill.nombre_habilidad}}</mat-card-title>
    <mat-card-content>
      <div >
        <div >
      <mat-card-content class="wrapper">
        
        <mat-progress-spinner 
          class="custom-spinner login"
          strokeWidth="10"
          mode="determinate"
          
          
          value="{{ skill.valor }}"
        > 
        </mat-progress-spinner>
         <a class="superpos">{{skill.valor}} %</a>
      </mat-card-content>
      </div>
      </div>
    </mat-card-content>
   
    <mat-card-actions>
      <button *ngIf="isAdmin" mat-button (click)="detalleSkills(skill.id)">Editar</button>
      <button *ngIf="isAdmin" mat-button (click)="borrarSkill(skill.id)">Eliminar</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="determinate"  value="{{ skill.valor }}" class="green-progress"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  </div>
</div>
</div>

  
</div>