<mat-toolbar color="primary">
  <div>
    <a
      title="Argentina Programa"
      href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
      target="_blank"
    >
      <img src="../../../assets/img/APLogo.png" width="100em"
    /></a>
    <span class="textabajo">#YoProgramo</span>
  </div>
  <span class="spacer"></span>
  <!-- <div>
    <span class="spacer"></span>
  <button
  *ngIf="isInvitado" (click)="openLogin()"
    mat-icon-button
    class="logout"
    aria-label="icon-button with menu icon"
    
  >
    <mat-icon>login</mat-icon><a> Iniciar Sesion </a>
  </button>
  <span class="spacer"></span>
  <button
  *ngIf="!isInvitado" (click)="logOut()"
    mat-icon-button
    class="logout"
    aria-label="icon-button with menu icon"
    
  >
  <mat-icon >logout</mat-icon><a>Cerrar Sesion</a> 
  </button>
 </div> -->



  <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect">
    {{ item.nombre }}
  </button>
  
  <!-- <span class="spacer"></span> -->
  <button  mat-icon-button class="material-icons-outlined">
    <mat-icon>mail</mat-icon>
  </button>


  

  <script
    src="https://platform.linkedin.com/badges/js/profile.js"
    async
    defer
    type="text/javascript"
  ></script>
  <a
    title="Linkedin"
    href="https://www.linkedin.com/in/leo-scapellato-16a84b35"
  >
 
    <button
      mat-icon-button
      class="material-icons"
      aria-label="icon-button with menu icon"
    >
      <mat-icon><img src="../../../assets/img/in.png" width="80%" /></mat-icon>
    </button>
  </a>
  
  <button
    routerLink="/login"
    mat-icon-button
    class="logout"
    aria-label="icon-button with menu icon"
  >
 
    <mat-icon>share</mat-icon>
  </button>
 
  <button
    mat-icon-button
    [matMenuTriggerFor]="meno"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #meno="matMenu">
    <button mat-menu-item>
      <mat-icon [class.green-icon]="this.isAdmin" [class.blue-icon]="!this.isAdmin">account_circle</mat-icon>
      <span> {{nombreUsuario}}</span>
    </button>
    <button mat-menu-item>
      <mat-icon [class.green-icon]="this.isAdmin" [class.blue-icon]="!this.isAdmin">info</mat-icon>
      <span> {{rolActual}} </span>
    </button>

    <div>
    <button *ngIf="!isInvitado" (click)="logOut()" routerLink="/inicio" mat-menu-item  >
      <div  ><mat-icon  >logout</mat-icon><span>Cerrar Sesion</span></div>
    
    </button>
      <button *ngIf="isInvitado" (click)="openLogin()" mat-menu-item >
      <div  ><mat-icon [class.green-icon] >login</mat-icon><span>Iniciar Sesion</span></div>
      
    </button>
  </div>
    
   
   
  </mat-menu>
</mat-toolbar>
