.example-spacer {
    flex: 1 1 auto;
  }

.textabajo {
  
  font-weight: lighter;
  margin-left:10px;
    font-size:12px;
  vertical-align: bottom;
}

.green-icon{
  color:green
}

.blue-icon{
  color:rgb(173, 196, 230)
}

/* .fija {
  position: inherit;
  top: 0;
 
  
  
  } */