.ancho {
    width: 35%;
    margin-top: 10px;
    margin-left: 65px;
    margin-right: 0px;
    position: relative;
    
  }

 .dobleancho {
  width: 70%;
  margin-top: 10px;
  margin-left: 65px;
  margin-right: 0px;
  position: relative;
 }

