<div class="container">
  <div class="cat">
    <img style="border-radius: 32px" src="../../../../assets/img/Imagen1.jpg" class="banner" />
   
    <img class="imagenProfile" src="../../../../assets/img/miimagen.jpeg" />
  </div>
</div>
<mat-card class="container">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <div class="spacer"></div>
    <mat-card-title>Leonardo Scapellato</mat-card-title>
    <mat-card-actions>
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>create</mat-icon>
      </button>
      <button mat-button>
        <mat-icon>person_add</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-subtitle style="color: blue">Full Stack Developer Jr.</mat-card-subtitle>
    <mat-card-subtitle style="color: blue">Analista de Datos</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <b>Analista de datos</b> tres años de experiencia en
      <b>Data Cleansing y Herramientas BI</b>. Actualmente iniciando mis
      primeros pasos como <b>Full Stack Developer,</b> con ganas de trabajar
      en proyectos importantes y grupos de personas obstinadas con los logros
      de objetivos
    </p>
    <p>
      <b>Experiencia en Gestión y control de empresas</b> de diversos rubros y
      especializaciones.
    </p>
    <p>
      Hace años en forma autodidacta y capacitaciones aprendí
      <b>Electrónica, Electricidad, Energía fotovoltaica y térmica solar</b>
      mi pasión por la tecnología me llevó a tener la posibilidad de aprender
      y actualmente doy Cursos de Capacitación de Estos temas en un instituto
      de Formación de oficios.
    </p>
  </mat-card-content>
</mat-card>


<app-experiencia></app-experiencia>
<app-estudios></app-estudios>
<app-skills></app-skills>