<app-navbar></app-navbar>
<div class="back1">
  <div class="container">
    <div class="cat">
      <img src="../../../../assets/img/bannerBlanco.png" class="banner" />
    </div>

    <mat-card class="cardborder">
      <div *ngFor="let persona of listPersona" class="row">
        <div class="col-md-2" styles="margin-top:1em">
          <img class="imagenProfile" src="{{ persona.imagenurl }}" />
        </div>
        <div class="col-md-3" style="margin-top: 3em">
          <mat-card-title
            >{{ persona.nombre }} {{ persona.apellido }}</mat-card-title
          >

          <mat-card-subtitle style="color: blue">{{
            persona.grado
          }}</mat-card-subtitle>

          <mat-card-subtitle style="color: rgb(13, 13, 16)">Contacto: {{
            persona.mail
          }}</mat-card-subtitle>

          <mat-card-actions>
            <button
              *ngIf="isAdmin"
              mat-icon-button
              routerLink="/dashboard/crear-usuario/{{ persona.id }}"
            >
              <mat-icon>create</mat-icon>
            </button>
            <button *ngIf="isAdmin" mat-button>
              <mat-icon matTooltip="Agregar Persona" (click)="openDialog()"
                >person_add</mat-icon
              >
            </button>
          </mat-card-actions>
        </div>

        <mat-card-content class="col-md-7">
          <div class="descripcion" style="margin-top: 2em">
            {{ persona.descripcion }}
          </div>
      
        </mat-card-content>
      </div>
    </mat-card>
  </div>
  <app-experiencia></app-experiencia>
  <app-estudios></app-estudios>
  <app-skills></app-skills>
  <app-reportes> </app-reportes>

  <div class="container">
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
    >
      <p class="col-md-4 mb-0 text-muted">&copy; 2022</p>

    </footer>
  </div>
</div>
