
<div class="body">

  <div class="login">
    <mat-spinner *ngIf="loading" class="spinner" diameter="60"></mat-spinner>



    
    <h2>Iniciar Sesion</h2>
    
    <form #f *ngIf="!loading" [formGroup]="form" (ngSubmit)="onEnviar($event)">
      <!-- <! -- email -->
      <div class="input-group input-group mb-3">
        <span class="input-group-text bg-white">
          <i class="fas fa-at" [class.green-icon]="this.form.get('nombreUsuario')?.valid"
            [class.red-icon]="this.form.get('nombreUsuario')?.errors && this.form.get('nombreUsuario')?.touched"></i>

        </span>
        <input formControlName="nombreUsuario" type="text" class="form-control" placeholder="Mail" maxlength="50">
      </div>
      <div *ngIf="this.form.get('nombreUsuario')?.errors && this.form.get('nombreUsuario')?.touched">
        <p><a class="alert alert-danger mt-3">{{getMensajeErrorUser() }}</a></p>
        
      </div>


      <!-- <! -- password -->
      <div class="input-group input-group mb-3">
        <span class="input-group-text bg-white">
          <i class="fas fa-key" [class.green-icon]="this.form.get('password')?.valid"
            [class.red-icon]="this.form.get('password')?.errors && this.form.get('password')?.touched"></i>

        </span>
        <input formControlName="password" type="password" class="form-control" placeholder="Clave" minLength="8">
      </div>
      <div *ngIf="this.form.get('password')?.errors && this.form.get('password')?.touched">
        <p><a  class="alert alert-danger mt-3">{{getMensajeErrorPassword() }}</a></p>
        
      </div>


      <div class="d-grid gap-2">
        <button mat-button  [disabled]="this.form.invalid" type="submit" class="btn btn-primary btn-lg">Login&nbsp;
          <i class="fas fa-right-to-bracket"></i></button>
      </div>
     
    </form>
    <!-- <div *ngIf=' isLoginFail' class="alert alert-danger mt-3"> {{errMsj}}</div> -->


    
  </div>
</div>
