.spacer {
    flex: 1 1 auto;
}

.header-image {
    
    
    background-size: cover;
    background-position: center;
    justify-content: center;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;


  }


  /* .example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 12px;
    overflow: hidden;
  } */

  .box {
   cursor: move;
    margin-top: 1em;
    z-index: 0;
    border-radius: 1em;
  }

  button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.buttonmargin {
  
  margin-left: 8px;
}

/* cargado en styles.css .navcolor { 
  border-radius: 1em;
  color:white;
  background-color: rgba(96, 73, 106, 0.737);
} */

.imagenexpe {

  border-radius: 100%;
  max-width:auto;
  max-width: 100%;
  
  align-items: center;
  justify-content: center;
  
  }