<div>
 
  <mat-toolbar class="navcolor" style="margin-bottom: 0.5em">
  
  
    <span>Cargar Habilidad</span>
    <div class="spacer"></div>
    <button mat-raised-button color="secondary" mat-dialog-close>
      Volver
    </button>
  </mat-toolbar>



<!-- <h3 mat-dialog-title class="text-center">Cargar Habilidad</h3> -->



<div mat-dialog-content >
  
    <form role="form" [formGroup]="form" (ngSubmit)="agregarSkill()">
      <div class="row -g2">
        <div class= 'col'>
          <label for="nombre_habilidad">Habilidad</label> 
          <input
            formControlName="nombre_habilidad"
            type="text"
            class="form-control"
            id="nombre_habilidad"
            placeholder="Habilidad"
          />
        </div>
        <div class="col">
          <label for="valor">Valor</label>
          <input
            type="number"
            class="form-control"
            id="valor"
            placeholder="De 1 a 100"
            formControlName="valor"
            min="1"
            max="10"
          />
        </div>
      </div>
      
      <div class="input-group mb-3" style="margin-top: 2em">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01"
            >Tipo</label
          >
        </div>
        <select
          class="custom-select"
          id="inputGroupSelect01"
          formControlName="tipo"
        >
          <option selected>Duras</option>
          <option value="Blandas">
            Blandas
          </option>
          
        </select>
      </div>
      <div class="row">

        <!-- TODO FALTA CONFIGURAR VALIDATORS -->
        <div class="col text-center spacer">
      <button mat-button type="submit" class="btn btn-primary">Cargar</button>
      <button style="margin-left:30px"mat-button mat-dialog-close class=" btn btn-secondary">Cerrar</button>
     </div>
    </div>
  
    </form>
    
  
</div>
</div>




