.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: auto;
    background-color: #f5f5f5;
    margin-top: 25px;

}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.buttonmargin {
  
    margin-top: 25px;
  }