table {
    width: 100%;
    margin-top: 10px;
    margin-left:10px;
    position: relative;

  }

.th  {
width: 50%;


}

.pointer{
    cursor: pointer;
}

.mat-form-field {
  font-size: 16px;
  width: 100%;
}