.example-form {
    min-width: 150px;
    max-width: auto;
    max-height: auto;
    width: 100%;
    padding-top: 80px;
    padding-left: 80px;
  }
  
  .example-full-width {
    width: 100%;
  }

  .ancho {
    width: 35%;
    margin-top: 10px;
    margin-left: 65px;
    margin-right: 0px;
    position: relative;
    
  }
